{{ block "index" . }}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
    <!-- HTMX inclusion -->
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>
<body>
<h1>Welcome to the dashboard, {{.Username}}!</h1>

<form id="reset-token-form" hx-get="/api/reset-token" hx-target="#reset-token-response" hx-swap="outerHTML">
    <button class="button" type="submit">Generate Key</button>
</form>
<div id="reset-token-response"></div>

<!--<button id="galleryButton">Gallery</button>-->
<!--<div id="gallery"></div>-->

<form id="create-host-form" hx-post="/api/hosts" hx-target="#create-host-response" hx-swap="outerHTML">
    <div style="display: flex; align-items: center;">
        <!-- Input Field -->
        <input type="text" id="subDomain" name="subDomain" placeholder="Subdomain">
        <!-- Domain Selector -->
        <select id="rootDomain" name="rootDomain" required>
            <option value="">Select Root Domain</option>
            <!-- Populate this with server-side data -->
            {{range .Domains}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
        <button class="button" type="submit">Submit</button>
    </div>
</form>
<div id="create-host-response"></div>
<!-- UserID Box -->
<pre style="background-color: #131516; color: #cccccc; border: 1px solid #ccc; padding: 0;">
        <code id="user-id">{{ .UserID }}</code>
        <button class="button" onclick="copyContent('user-id')">Copy UserID</button>
</pre>
<!-- Divider -->
<hr/>

<!-- List of active hosts -->
<div id="hosts-list" style="display: flex; flex-direction: column">
    {{ range .Hosts }}
    <div>
        <span>{{ .Name }}</span>
        <button class="button delete"
                hx-delete="/api/hosts/{{ .Name }}"
                hx-confirm="Are you sure you want do delete this host?"
                hx-target="#hosts-list"
                hx-swap="outerHTML">Delete
        </button>
    </div>
    {{ end }}
</div>

<script>
    function copyContent(elementID) {
        const content = document.getElementById(elementID).innerText;
        navigator.clipboard.writeText(content).then(function () {
            console.log('Copying to clipboard was successful!');
        }, function (err) {
            console.error('Could not copy text: ', err);
        });
    }
</script>

</body>
</html>

{{ end }}
<!--    <div id="delete-host-response"></div>-->


<!--    <form action="/api/reset-token" method="GET"><button type="submit">Generate Key</button></form>-->
<!--    <button id="galleryButton">Gallery</button>-->
<!--    <div id="gallery"></div>-->

<!--    <script>-->
<!--        document.getElementById("galleryButton").addEventListener("click", function() {-->
<!--            fetch("/api/gallery", {-->
<!--                method: "GET",-->
<!--            }).then(response => response.json())-->
<!--                .then(data => {-->
<!--                    const gallery = document.getElementById("gallery");-->
<!--                    gallery.innerHTML = ''; // Clear previous images-->
<!--                    data.forEach(base64Image => {-->
<!--                        const img = document.createElement("img");-->
<!--                        img.src = 'data:image/jpeg;base64,' + base64Image;-->
<!--                        gallery.appendChild(img);-->
<!--                    });-->
<!--                });-->
<!--        });-->
<!--    </script>-->


